/*
Reset
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
Common
*/

:root {
    --primary-blue: #0084FD;
  }

.flex {
    display: flex;
}

.j-between {
    justify-content: space-between;
}

.padding-lr-30 {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}

nav {
    display: none;
}

nav ul {
    list-style: none;
}

/*
Header
*/

header {
    background-color: var(--primary-blue);
    color: white;
    align-items: center;
}

header .logo {
    padding: 1rem 0;
}

header i {
    font-size: 1.25rem;
}

header nav ul li a {
    text-decoration: none;
    color: inherit;
    margin-left: 1.25rem;
}

.link-primary-style {
    background-color: white;
    color: black;
    padding: .625rem .9375rem;
    border-radius: 20%/50%
}


@media screen and (min-width: 992px) {
    nav {
        display: block;
    }

    header .burger-menu {
        display: none;
    }
}