/*
Reset
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
Common
*/

:root {
    --primary-blue: #0084FD;
    --primary-violet: #9792E4;
}

.flex {
    display: flex;
}

.container {
    flex-wrap: wrap;
}

.container .col {
    width: 100%;
}

.j-between {
    justify-content: space-between;
}

.padding-lr-30 {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}

nav {
    display: none;
}

nav ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    margin: 2rem 0;
}

/*
Header
*/

header {
    background-color: var(--primary-blue);
    color: white;
    align-items: center;
}

header .logo {
    padding: 1rem 0;
}

header i {
    font-size: 1.25rem;
}

header nav ul li a {
    margin-left: 1.25rem;
}

.links-style {
    padding: .625rem .9375rem;
    border-radius: 500px;
}

.link-primary-style {
    background-color: white;
    color: black;

}

.link-secondary-style {
    background-color: var(--primary-blue);
    color: white;
}

@media screen and (min-width: 992px) {
    nav {
        display: block;
    }

    header .burger-menu {
        display: none;
    }
}

/*
Main
*/

/* Features Section */

.features-section .container {
    margin-top: 2.5rem;
}

.features-section .container .col {
    background-color: #B5DDFF;
    border-radius: 1.25rem;
    flex-wrap: wrap;
    margin-bottom: 1.875rem;
}

.features-section .container .col .feature-description > *:not(:last-child) {
    margin-bottom: 1.5rem;
}

.features-section .container h2 {
    color: var(--primary-blue);
}

.feature-screenshot img {
    width: 40%;
}

.feature-screenshot {
    width: 100%;
    justify-content: center;
}

.feature-description {
    width: 100%;
    padding: 1.25rem;
}

.feature-description a {
    text-align: center;
    display: block;
    max-width: 30%;
}

.feature {
    text-align: center;
    color: var(--primary-blue);
    padding: 1.25rem;
}

.feature i {
    font-size: 4rem;
}

.feature h2 {
    margin: 1.25rem 0;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 1140px;
        margin: 0 auto;
        justify-content: space-between;
    }

    .container .col {
        width: calc(100% / 3 - 1.25rem);
    }

    .features-section .container >.col:first-child {
        width: calc(100% / 3 * 2 - 1.25rem);
    }
}

@media screen and (min-width: 992px) {
    .container > .col:first-child {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .feature-screenshot {
        width: 40%;
        align-items: end;
    }

    .feature-description {
        width: 60%;
    }

    .feature-screenshot img {
        width: 70%;
    }

    .feature-description a {
        max-width: 40%;
    }
}

/* Planning Section */

.planning-section {
    background-color: var(--primary-violet);
}

.planning-section .container {
    padding: 3rem;
}

.planning-section .container .left-col img,
.planning-section .container .right-col img {
    width: 100%;
}

.left-col {
    color: white;
    margin-bottom: 1.875rem;
}

.left-col h2 {
    color: white;
}

.right-col {
    text-align: center;
    background-color: white;
    padding: 2rem;
    border-radius: 1.50rem;
}

.right-col i {
    font-size: 1.875rem;
    padding: 1.25rem;
    border-radius: 50%;
    margin-top: 1.5rem;
    background-color: var(--primary-violet);
}

@media screen and (min-width: 992px) {
    .planning-section .container {
        max-width: 880px;
        flex-wrap: nowrap;
        align-items: end;
        gap: 1.875rem;
    }

    .left-col {
        width: 60%;
    }

    .right-col {
        width: 40%;
    }

    .planning-section .container .right-col img {
        width: 50%;
    }

    .left-col {
        margin-bottom: 0
    }
}

/* Testimonials Section */

.testimonials-section {
    text-align: center;
    margin: 3rem 0;
    padding: 3rem;
}

.testimonials-section .container .col {
    padding: 1.25rem;
    margin-bottom: 2rem;
    flex-direction: column;
    align-items: center;
}

.testimonials-section .container .col:not(:first-child) {
    background-color: var(--primary-violet);
    color: white;
}

.testimonials-section .container .col p {
    margin: 1rem 0;
}

.testimonials-section h2 {
    color: var(--primary-violet);
    font-size: 2rem;
}

.testimonials-section .col {
    width: 100%;
    border-radius: 30px;
}

.testimonial-photo {
    width: 70%;
    border-radius: 50%;
}

.testimonial-name {
    margin-top: 1rem;
}

@media screen and (min-width: 768px) {
    .testimonials-section .container .col {
        padding: 1.25rem;
        flex-direction: row;
        align-items: center;
    }
}